html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

body {
  line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
  display:block;
}

nav ul {
  list-style:none;
}

blockquote, q {
  quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content:'';
  content:none;
}

a {
  margin:0;
  padding:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

/* change colours to suit your needs */
ins {
  background-color:#ff9;
  color:#000;
  text-decoration:none;
}

/* change colours to suit your needs */
mark {
  background-color:#ff9;
  color:#000;
  font-style:italic;
   font-weight:bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom:1px dotted;
  cursor:help;
}

table {
  border-collapse:collapse;
  border-spacing:0;
}

/* change border colour to suit your needs */
hr {
  display:block;
  height:1px;
  border:0;
  border-top:1px solid #cccccc;
  margin:1em 0;
  padding:0;
}

input, select {
  vertical-align:middle;
}

header{
  width: 100%;
  height: 65px;
  background-color:black;
  position:fixed;
  top:0;
  z-index:10;
}



.header-left{
  float:left;
}



.logo{
  width:63px;
  margin-top:0;
  opacity: 0.9;
}
/*スライドショー*/

.wrap {
  display: flex;
  overflow: hidden;
  height: 360px;
  align-items: center;
  background-color: #FFFFEE;
}

.slideshow {
  display: flex;
  animation: loop-slide 20s infinite linear 1s both;
}

@keyframes loop-slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.content {
  width: 300px;
  height: 300px;
}

/*ここまで*/

.top-wrapper{
  background-image:url(../images/smoke1.jpg);
  background-size:cover;
  background-position: center;
  height: 800px;

    animation: top-wrapper 3s cubic-bezier(.4, 0, .2, 1);
  }

  @keyframes top-wrapper {
    0% {
      clip-path: circle(0 at 50% 50%);
      -webkit-clip-path: circle(0 at 50% 50%);
    }

    100% {
      clip-path: circle(100% at 50% 50%);
      -webkit-clip-path: circle(100% at 50% 50%);
    }
  }

.container{
  width: 100%;

}

.container h1{

  opacity:0.7;
  color:white;
  font-size:55px;
  letter-spacing:1px;
  text-align: right;
  padding-right: 190px;
  padding-top: 300px;
}

.top-wrapper p{
  /*display: inline-block;*/
  opacity:0.7;
  font-size: 20px;
  text-align: right;
  padding-top: 40px;
  padding-right: 120px;
  color:white;
}


nav ul{
  display: table;
  margin: 0 auto;
  margin-top: 10px;
  padding: 0;
  width: 80%;
  text-align: center;
  float: center;

}
nav li{
  display: table-cell;
  min-width: 50px;
  font-size: 25px;
}
nav a{
  display: block;
  width: 100%;
  text-decoration: none;
  color: white;
  opacity: 0.8;
  padding-bottom: 5px;
}
nav li.current{
  border-bottom: 3px solid ;
}
nav li:hover{
  color: #E7DA66;
border-bottom: 3px solid #F0E475;
}

.fab{
  color: white;
}

.lam-concept{
  height: 700px;
  background-color: white	;
}

.logoo{
  width: 400px;
  height: 200px;
  padding-left: 80px;
  padding-top: 100px;

}

.concept-text p{
  padding-left: 150px;
  padding-top: 25px;
  margin-top: 20px;
  font-size: 25px;
  opacity: 0.8;

}



.menu-wrapper{
  width: 100%;
  height: 250px;
  background-color:white	;
}

.menu-content{

font-size: 80px;
opacity: 0.8;
padding-left: 80px;
padding-top: 80px;
font-family:  'Cherry Swash', cursive;
}

/*ボーダー線のコード*/
.boder-text{
	display: flex;
	align-items: center;
  width: 100%;
}

.boder-text:after {
	content: "";
	flex-grow: 1;
	height: 3px;
	display: block;
}

.boder-text:after {
	margin-left: .4em;
	background: linear-gradient(90deg, #FF773E, transparent);
}

.menuu{
  display:flex;
  flex-direction: row-row-reverse;
  justify-content: space-between;
  background-color:white	;
}

.m-text{
  font-size: 30px;
  text-align: center;
  opacity: 0.8;
  font-family:  'Cherry Swash', cursive;
  width: 100%;
}

.menuu-img img{
  padding-left: 150px;
  height: 600px;
  width: 450px;
}

.m-text p{
  padding-top: 10px;
  text-align: justify;
  padding-left: 25%;
  padding-top: 20px;
}

.m-text h2{
  padding-top: 30px;
}

.sub{
  width: 100%;
  height:200px;
  background-color: white;
}

.sub-boder{
  font-size: 45px;
  font-family:  'Cherry Swash', cursive;
  float: right;
  padding-top: 70px;
  padding-right: 100px;
  width: 100%;

}
/*ボーダーのコード*/
.sub-text{
  color: #444;
	display: flex;
	align-items: center;


}

.sub-text:before {
	content: "";
	flex-grow: 1;
	height: 3px;
	display: block;
}
.sub-text:before {
	margin-right: .4em;
	background: linear-gradient(-90deg, #FF773E, transparent);
}

.sub-contentwrap{
  width: 100%;
  /*height: ;*/

}

.sub-wrap{



}

.sub-grid{
  margin-right: 75px;
  margin-left: 75px;
  height: 560px;
  background-color: #EEE8AA;
}

.men-grid{
  width: 100%;
  height: 80px;
   background-color: #220000;

}
.men-grid h3{


 font-size: 36px;
 padding-top: 22px;
 padding-bottom: 5px;
 color: white;
 text-align: center;
}


.men-img{
display: flex;
flex-wrap: wrap;
list-style: none;

}

.men-img li{
 width: calc(100%/4);/*←画像を横に4つ並べる場合*/
 /*paddin←画像の左右に5pxの余白を入れる場合
 /*margin: 0,0;*/
font-size: 22px;
background-color: #A0522D;
color: white;
text-align: center;
height: 430px;
}

.men-img li img{
  max-width:100%; /*画像のはみだしを防ぐ*/
	height: 90%; /*画像の縦横比を維持 */
  /*height: ;*/
  width: 100%;

}

.men-text{
  margin-top: 7px;
}

.sisha-contents{
  font-size: 45px;
  font-family:  'Cherry Swash', cursive;
  padding-top: 70px;
  padding-left: 100px;

}
/*ボーダー線*/
.sisha-tex{
  display: flex;
  align-items: center;

  width: 100%;
}

.sisha-tex:after {
	content: "";
	flex-grow: 1;
	height: 3px;
	display: block;
}

.sisha-tex:after {
	margin-left: .4em;
	background: linear-gradient(90deg, #FF773E, transparent);
}

.sisha-contents h3{
font-family:  'Cherry Swash', cursive;
opacity: 0.8;
}

.sisha-text{
  font-size: 20px;
  padding-left: 100px;
  padding-top: 30px;
  display: flex;
  float: left;
}

.ps{
  margin-top: 150px;
  margin-left: 50px;
}
.ps p{
  padding-top: 30px;
  font-size: 25px;
  text-align: center;
  opacity: 0.8;
}

.sisha-text img{
  height: 500px;
  width: 350px;
  padding-left: 150px;
  padding-top: 50px;
}

.map{
 height: 600px;
}

.g-map{
  font-family:  'Cherry Swash', cursive;
  font-size: 65px;
  padding-right: 100px;
  margin-top: 100px;
}

.goo-map{
  color: #444;
	display: flex;
	align-items: center;


}

.goo-map:before {
	content: "";
	flex-grow: 1;
	height: 3px;
	display: block;
}
.goo-map:before {
	margin-right: .4em;
	background: linear-gradient(-90deg, #FF773E, transparent);
}

.map-text{
  display: flex;
  float: left;
  width: 100%;
}

iframe{
  margin-top: 70px;
  margin-left: 200px;
}

.map-te{
  margin-top: 100px;
}

.map-tex p{
  text-align: center;
  font-size: 30px;
  opacity: 0.9;
  padding-top: 30px;
  padding-left: 40px;
}

.map-tex{
  width: 650px;
  margin-top: 150px;
  margin-left: 50px;
  margin-right: 20px;
  background-color:#FFFFEE;

}

.futter{
 margin-top: 40px;
 padding-top: 10px;
 width: 100%;
 background-color: #111111;
 color: white;
}


.futter ul{
 text-align: center;
 font-size: 20px;

}

.futter a{
  color: white;
}

.futter li{
display: inline-block;

padding-left: 10px;

opacity: 0.8;

}
